body {
    margin: 0;
    font-family: Arial;
    background: url('hotel.jpg') no-repeat center center/cover;
}

.container {
    width: 350px;
    margin: 80px auto;
    padding: 20px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
}

button {
    padding: 10px;
    width: 100%;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #218838;
}

table {
    width: 100%;
    margin-top: 20px;
    background: white;
}

button {
    margin-top: 10px;
}